# Ignore all files within the 'bin' directory
bin/

# Ignore all files within the 'build' directory
build/

# Compiled executables
*.exe
*.dll
*.so
*.dylib

# Object files and archives
*.o
*.a

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# CP Editor input and output files
*.in
*.ans

# Geany, ppas.sh and link12345.res files
*.geany
*.sh
*.res

# Java class files
*.class

# Image files
*.jpg
*.png
*.gif

# Video files
*.mp4
*.mov

# Archive files
*.zip
*.tar.gz

# Other common binary types
*.rar
*.7z
*.pdf
*.mp3
